.vcenter {
    text-align: center;
    vertical-align: middle;
    padding-top: 14.5vw;
    height: 43vw;
    max-height: 600px;
    font-size: 2.2vw;
    font-family: GothamBold;
    letter-spacing: -0.06em;
    line-height: 43px;
}

.gl-title {
    font-family: GothamBold;
    letter-spacing: -0.06em;
    color: #0078BC;
    margin-bottom: 38px;
    font-size: 48px;
}

.gl-title .thin {
    font-family: GothamLight;
    letter-spacing: -0.06em;
}

.gl-static-adwards {
    background-color: white;
}

.bleed-middle {
    z-index: 2;
}

.bleed {
    z-index: 1;
    margin-top: -350px;
}

h2.warranties {
    font-family: GothamLight;
    letter-spacing: -0.07em;
}

h3.warranties {
    font-family: GothamLight;
    letter-spacing: -0.07em;
    font-size: 36px !important;
    margin-top: 40px;
}

h4.warranties {
    color: #898C8D;
    font-family: GothamThin;
    letter-spacing: -0.06em;
    text-transform: uppercase;
}

p.warranties {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 23px;
}

h3.floater {
    font-family: GothamBook;
    letter-spacing: -0.06em;
    font-size: 37px !important;
    text-align: left;
    margin-top: 40px;
}

h4.floater {
    color: #898C8D;
    font-family: GothamLight;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    font-size: 22px;
    text-align: left;
}

p.floater {
    font-family: Helvetica;
    font-size: 16px;
    text-align: left;
}

.table {
    display: table;
    width: 100%;
    height: 90%;
}

.table .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.top-spacing {
    margin-top: 40px;
}

.about-text {
    font-family: GothamLight;
    letter-spacing: -0.06em;
    font-size: 24px;
    line-height: 35px;
    text-align: left;
}

.gl-static-adwards {
    visibility: hidden;
    min-height: 300px
}

.gl-home .container {
    padding: 0;
    height: 0px;
}

.gl-home {
    min-height: 0 !important;
}

.gl-home.gl-blue {
    background: none;
    padding-bottom: 0 !important;
}

.gl-minibooker {
    margin-top: 27vw;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    border: none;
}

.gl-minibooker-home {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    height: 0;
    float: right;
}

.gl-home.gl-blue {
    margin-top: 8px;
}

.logo-holder {
    padding-left: 15px;
}

.left-float {
    padding-right: 58px;
}

.right-float {
    padding-left: 50px;
}

.cell {
    padding-top: 10px;
}

.mob-img {
    margin-bottom: -40px;
    text-align: center;
}

@media(min-width: 1200px) {
    .gl-static-adwards {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
        margin-top: -10vw !important;
        padding-top: 80px !important;
        padding-bottom: 10px !important;
    }
}

.about-text {
    font-size: 24px;
    padding-right: 50px;
}

.warranties.col-sm-4 {
    padding-right: 25px;
}

.warranties.col-sm-4:last-child {
    padding-right: 0;
}

@media screen and ( max-width: 768px) {
    .mob-img img {
        max-width: 250px;
        max-height: 250px;
    }
    .col-sm-6.col-lg-6.bleed {
        margin-top: -370px !important;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .left-float {
        padding-right: 0;
    }
    .right-float {
        padding-left: 0;
    }
    .cell {
        padding-top: 0;
        padding-left: 6px;
    }
}

.gl-testimonials {
    background-color: #ffffff;
    height: 292px;
    padding: 40px;
}

.testimonial-row {
    font-family: GothamBook;
    font-size: 14px;
    vertical-align: middle;
    padding: 10px 0;
    line-height: 30px;
    text-align: left;
}

p.testimonial {
    font-family: 'PlayfairDisplayItalic';
    font-size: 21px;
    line-height: 32px;
    color: #B0AEAF;
}

.marketing-row {
    font-family: GothamBook;
    line-height: 56px;
    font-size: 30px;
}

#testimonials {
    height: 150px;
}

.author {
    text-transform: uppercase;
    color: black;
}

.owl-controls {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.gl-float {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    height: 521px;
    margin-top: -209px;
}

.gl-testimonials {
    padding: 40px;
}

#testimonials {
    height: 340px;
}

.owl-pagination {
    text-align: left;
}

.icon-cloud-holder {
    padding-left: 23px;
}

.bottom_hgroup h1 {
    font-size: 48px;
    font-family: GothamThin;
    line-height: 48px;
}

.bottom_hgroup>h3 {
    font-size: 22px !important;
    font-family: GothamLight;
    text-transform: uppercase;
    color: #898C8D;
    line-height: 0;
}

a.book_btn {
    display: inline-block;
    background: #0078bc;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    width: 371px;
    height: 81px;
    line-height: 81px;
    text-align: center;
    cursor: pointer;
}

a.book_btn:hover {
    text-decoration: none;
}

.book_btn_holder {
    padding-top: 20px;
}

@media(min-width: 1904px) {
    .vcenter {
        padding-top: 10.5vw;
    }
}

@media(max-width: 1200px) {
    a.book_btn {
        width: 300px
    }
    .gl-float {
        height: 580px;
    }
    #testimonials {
        height: 406px;
    }
}

@media screen and ( max-width: 991px) and (min-width:641px) {
    .about-text {
        padding-right: 0;
    }
    .gl-float {
        height: 400px;
        margin-top: 40px;
    }
    #testimonials {
        height: 223px;
    }
    .bottom_content {
        margin-bottom: 63px;
        margin-top: 10px;
    }
    .book_btn_holder {
        padding-top: 35px;
    }
}

@media screen and (max-width:640px) {
    .gl-float {
        margin-top: 40px;
    }
    .bottom_content {
        margin-bottom: 63px;
    }
    .book_btn_holder {
        padding-top: 35px;
    }
}

@media screen and (max-width:380px) {
    .gl-float {
        height: 730px;
    }
    #testimonials {
        height: 560px;
    }
    a.book_btn {
        width: 270px
    }
}